**/.git
**/.gitignore
**/.gitattributes
**/.vscode
**/.idea
**/.venv
**/env
**/venv
**/__pycache__
**/*.py[cod]
**/*$py.class
**/.pytest_cache
**/.coverage
**/htmlcov
**/dist
**/build
**/*.egg-info
.gemini/
README.md
LICENSE
.docs/
