# Handle line endings automatically for files detected as text
# and leave binary files untouched.
* text=auto

# Ensure Python files use LF line endings
*.py text eol=lf

# Explicitly declare other text files
*.md text
*.txt text
*.json text
*.yml text
*.yaml text
*.xml text
*.html text
*.css text
*.js text

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mov binary
*.mp4 binary
*.mp3 binary
*.flv binary
*.fla binary
*.swf binary
*.gz binary
*.zip binary
*.7z binary
*.ttf binary
*.pyc binary
